.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.page-header {
  text-align: center;
  background-color: lightgray;
  padding-bottom: 1rem;
}

.lady-justice {
  display: block;
  width: 3rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}
